body {
    padding: 25px;
    background-color: rgb(40, 40, 40);
    color: #434989;
    font-size: 25px;
}

.dark-mode {
    background-color: white;
    color: #434989;
}

#toggleDarkModeButton {
    position: fixed;
    border: none;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 10px 20px;
}

h1 {
    font-size: 72px;
    margin-bottom: 40px;
}

.texto-sitePor {
    font-size: 20px;
    color:#434989;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #434989;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}

form input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px; 
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 8px; 
}

form button {
    width: 100%; 
    height: 40px; 
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-radius: 8px; 
    cursor: pointer;
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn {
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#audioPlay {
    position: fixed;
    border: none;
    border-radius: 20px;
    top: 70px;
    right: 10px;
    z-index: 9999;
    padding: 10px 15px; /* Adjust the padding as needed */
}

.colors {
    width: 400px;
    background: #434989;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto; 
}

#red {
    width: 30px;
    height: 30px;
    background-color: #CD090C;
    color: white;
    border-radius: 5px;
}

#orange {
    width: 30px;
    height: 30px;
    background-color: #FC940F;
    color: white;
    border-radius: 5px;
}

#yellow {
    width: 30px;
    height: 30px;
    background-color: #FFFF06;
    color: white;
    border-radius: 5px;
}

#green {
    width: 30px;
    height: 30px;
    background-color: #2FCC15;
    color: white;
    border-radius: 5px;
}

#Blue-green {
    width: 30px;
    height: 30px;
    background-color: #2CC1C6;
    color: white;
    border-radius: 5px;
}

#blue {
    width: 30px;
    height: 30px;
    background-color: #0315FF;
    color: white;
    border-radius: 5px;
}

#purple {
    width: 30px;
    height: 30px;
    background-color: #762CA8;
    color: white;
    border-radius: 5px;
}

#pink {
    width: 30px;
    height: 30px;
    background-color: #FC98BF;
    color: white;
    border-radius: 5px;
}

#white {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    color: white;
    border-radius: 5px;
}

#grey {
    width: 30px;
    height: 30px;
    background-color: #999999;
    color: white;
    border-radius: 5px;
}

#black {
    width: 30px;
    height: 30px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
}

#brown {
    width: 30px;
    height: 30px;
    background-color: #88541D;
    color: white;
    border-radius: 5px;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px; /* Ajuste conforme necessário para dar espaço suficiente para o círculo */
}

.loading-circle {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}